<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-Do List</title>
    </head>

    <body>
        <h1><%= day %></h1>
        
        <ul>
            <% for(const item of list) { %>
            <li><%= item %></li>
            <% } %>
        </ul>

        <form action="/" method="POST">
            <input name="newItem" type="text">
            <button type="submit">Add</button>
        </form>
    </body>

</html>
