body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
h3 {
    font-size: 1.5rem;
    font-weight: 900;
}
p {
    color: #8F8F8F;
}
.container-fluid {
    padding: 3% 15%;
}
.download-button {
    margin: 5% 3% 5% 0;
}
.feature-box {
    padding: 5%;
}
.feature-icon {
    color: #EF8172;
    padding: 1rem;
}
.feature-icon:hover {
    color: #FF4C68;
}
#features {
    padding: 7% 15%;
    text-align: center;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
}
.nav-item {
    padding: 0 18px;
}
.navbar {
    padding: 0 0 4.5rem 0;
}
.title-image {
    max-width: 60%;
    transform: rotate(25deg);
}

#title {
    background-color: #FF4C68;
}
